body {
  background: #FFFFFF;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  font-family: sans-serif;
  width: 540px;
  margin: 42px auto;
}

h1, h2, h3 {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  body, h1, h2, h3 {
    font-size: 20px;
    line-height: 1.2;
  }
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: initial;
}

p {
  margin-top: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

a {
  color: #1B2ABF;
  text-decoration: none;
}

a:hover {
  color: #1B5BBF;
}

hr {
  width: 5px;
  border: 1px solid;
  margin: 32px 0;
}


